* {
    -dark: #333333;
    -subtle-dark: #3a3a3a;
    -light: #666666;
}

.main {
    -fx-background-color: -dark;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-family: "Lato";
    -fx-font-size: 16;
}

.list-view-label {
    -fx-text-fill: white;
    -fx-font-family: "Lato";
    -fx-font-size: 16;
    -fx-padding: 5;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab:hover {
    -fx-background-color: -subtle-dark;
}

.tab:pressed {
    -fx-background-color: -subtle-dark;
    -fx-border-width: 0px;
}

.tab:selected {
    -fx-background-color: -subtle-dark;
}

.tab {
    -fx-padding: 5 7 5 7;
    -fx-font-family: "Lato";
    -fx-font-weight: Bold;
    -fx-font-size: 14;
    -fx-background-color: -light;
}


.list-view {
    -fx-background-color: -light;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Lato";
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.algorithmPane {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: -light;
}

.vertex {
    -fx-background-radius: 20;
    -fx-border-radius: 22;
    -fx-border-width: 1;
    -fx-background-color: #277ca5;
    -fx-font-family: "Lato";
    -fx-font-weight: Bold;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-boder-color: black;
}

.vertex:hover {
    -fx-background-color: #0063a6;
    -fx-opacity: .8;
    -fx-cursor: HAND;
}


.arrow-line {
    -fx-stroke: black;
    -fx-stroke-width: 1.3;
    -fx-cursor: HAND;
}

.arrow-line:hover {
    -fx-stroke: -primary;
    -fx-stroke-width: 4;
    -fx-opacity: .4;
}

.drag {
    -fx-background-color: #277ca5;
    -fx-opacity: .3;
    -fx-border-color: null;
}

.weighted {
    -fx-stroke: green;
    -fx-stroke-width: 4;
}


.path {
    -fx-background-color: black;
    -fx-stroke: -primary;
    -fx-stroke-width: 2;
    -fx-border-color: null;
}

.candidate-nodes {
    -fx-text-fill: white;
    -fx-background-color: #FFA62F;
    -fx-border-color: null;
}

.visited {
    -fx-text-fill: white;
    -fx-background-color: #FB633F;
}

.vertex:current {
    -fx-border-color: #112A46;
    -fx-border-width: 4px;
}

.vertex:neighbour {
    -fx-border-color: #51ff51;
    -fx-border-width: 4px;
}